*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.routes-container{

}

@import './components/users/users.css';
@import './components/products/products.css';